<span class="breadcrumb">
	<!-- <a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp; -->
	<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'personalisedcard.title' | translate}}</span>
</span>

<div class="main-div">
	<div class="spinner" *ngIf="isLoading">
		<mat-spinner></mat-spinner>
   </div>
	<mat-card *ngIf="!isLoading">
		<h3 style="color: #505050;">{{'personalisedcard.title' | translate}}</h3>
		<p class="intro-description">{{'personalisedcard.introDescription' | translate}}</p>
		<p class="intro-description">{{'personalisedcard.mainlabel' | translate}}</p>
		<table style="width:100%;">
			<tr><mat-grid-list [cols]="cols" rowHeight="490px" gutterSize="10px"><mat-grid-tile>
				<td [style.width] = "width">
					<table class="fixed" *ngFor="let data of schema; let i = index" style="width:100%;">
						<tr>
							<td class="each-property"><mat-checkbox [checked]="data.checked" *ngIf="data.label[langCode] !== 'undefiend'" (click)="captureCheckboxValue($event, data,'datacheck')" >
								{{data.label[langCode]}}</mat-checkbox></td>
							<td *ngIf="data.maskRequired" class="each-masked-property">
								<mat-checkbox [disabled]="!data.checked"  id="{{data.maskRequiredLabel[langCode]}}{{i}}" (click)="captureCheckboxValue($event, data,data.maskAttributeName)">{{data.maskRequiredLabel[langCode]}}</mat-checkbox>
							</td>
							<td *ngIf="data.formatRequired" style="width:40%">
								<button [disabled]="!data.checked" mat-button [matMenuTriggerFor]="basic">{{data.formatOptionLabel[langCode]}}<mat-icon>keyboard_arrow_down</mat-icon></button>
								<mat-menu #basic="matMenu">
									<ng-container *ngFor="let data1 of data.formatOption[langCode];">
										<button id="{{data1.value}}Btn" mat-menu-item>
											<div class="check-box-card" (click)="captureCheckboxValue($event, data,data1)">
												<input class="check-box" type="checkbox" [checked]="data1.checked"
													id="{{data1.value}}" />
												<label>{{data1.label}}</label>
											</div>
										</button>
									</ng-container>
								</mat-menu>
							</td>
						</tr>
					</table>					
				</td></mat-grid-tile><mat-grid-tile>
				<td style="vertical-align: top;" [style.width] = "previewWidth">
					<div class="seleted-details-card" [style.width]="previewWidth">
					<table style="min-width: 339px; max-height: 217px;">
						<tr>
							<td rowspan='2' colspan='1' *ngIf="dataDisplay['photo']"><img [src]="dataDisplay['photo']['value']" alt='' width='70px' height='70px' /></td>
							<td *ngIf="dataDisplay['fullName']" colspan='2'>
								<label style="font-size: 12px;color: #666666;">{{dataDisplay['fullName']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['fullName']['value']}}</span>
							</td>
							<td align="right"><img style="height: 50px; width: 50px;" alt="logo" src="/assets/MOSIP Vertical Black.png"/></td>
						</tr>
						<tr *ngIf="dataDisplay['dateOfBirth'] || dataDisplay['gender']">
							<td *ngIf="dataDisplay['dateOfBirth']" colspan='1'><label style="font-size: 12px;color: #666666;">{{dataDisplay['dateOfBirth']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['dateOfBirth']['value']}}</span></td>
							<td *ngIf="dataDisplay['gender']"><label style="font-size: 12px;color: #666666;">{{dataDisplay['gender']['label']}}</label><br> <span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['gender']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['UIN'] || dataDisplay['perpetualVID']">
							<td *ngIf="dataDisplay['UIN']" colspan='2'><label style="font-size: 12px;color: #666666;">{{dataDisplay['UIN']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['UIN']['value']}}</span></td>
							<td *ngIf="dataDisplay['perpetualVID']"><label style="font-size: 12px;color: #666666;">{{dataDisplay['perpetualVID']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['perpetualVID']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['phone']">
							<td  colspan='3'><label style="font-size: 12px;color: #666666;">{{dataDisplay['phone']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['phone']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['email']" style="word-break: break-word;">
							<td colspan='3' >
								<label style="font-size: 12px;color: #666666;">{{dataDisplay['email']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['email']['value']}}</span>
							</td>
						</tr>
						<tr *ngIf="dataDisplay['fullAddress']" style="word-break: break-word;">
							<td colspan='3'><label style="font-size: 12px;color: #666666;">{{dataDisplay['fullAddress']['label']}}</label><br><span style="color: #000000; font-weight: 600; font-size: 15px;">{{dataDisplay['fullAddress']['value']}}</span></td>
						</tr>
					</table>
				</div>
				</td></mat-grid-tile></mat-grid-list>
			</tr>
			<tr>
				<td style="float:right;width: 100%" colspan="2"><button class="download-btn" [disabled]="downloadBtnDisabled" id="downloadFileBtn" mat-raised-button  (click)="downloadFile()">{{'personalisedcard.downloadbutton' | translate}}</button></td>
			</tr>
		</table>
	</mat-card>	
</div>