input {
  width: 300px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
}

::placeholder {
  text-align: left;
  letter-spacing: 0px;
  color: #BCBCBC;
  opacity: 1;
}

.track-btn{
  width:100px;
  height: 36px;
  font-size: 16px;
  color: #ffffff;
  background-color: #03A64A;
}

td{
  width: 30%;
}

table {
  border: none;
}

td {
  padding: 10px;
}

.trackDetails {
  padding: 1rem !important;
  border-radius: 10px;
  border: 2px solid #909090;
  word-break: break-all
}

.download-btn {
  border: 1px solid #03A64A;
  border-radius: 5px;
  opacity: 1;
  min-width: 95px !important;
  min-height: 36px !important;
  background-color: transparent;
  color: #03A64A;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.save-icon{
  margin: 0 8px 0 8px;
}

.info-icon{
  color: green !important;
  font-size: 18px; 
  cursor: pointer;
  margin-left: 4px;
}
.label-card{
  color: #909090; 
  size: 12px; 
  display: flex; 
}

.click-here{
  text-decoration: underline;
  color: #03A64A;
  cursor: pointer;
}
.warning-message{
  margin: 0px; 
  color: red; 
  font-size: 11px;
  margin-top: 5px;
}

.event-id-search-card{
  border-radius: 4px !important;
  padding: 3px; 
  border: 1px solid #909090; 
  display: flex;
  align-items: center;
}

.event-id-search-main-card{
  display: flex; 
  align-items: center;
}

.mat-card{
  padding: 16px;
  width: 100% !important;
}

@media screen and (max-width:600px){
  .mat-card{
    padding: 8px;
  }
  .event-id-search-main-card{
    flex-direction: column;
    align-items: flex-start;
  }
  .event-id-search-card{
    width: 100%;
  }
  input{
    width: 94%;
  }
}



::ng-deep .mat-tooltip {
  background-color: #ffffff !important;
  color: black !important;
  font-size: var(--fs) !important;
  border-radius: 8px !important;
  padding: 10px !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: -2px !important;
    &::after {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid #0000008c;
        border-color: transparent transparent #ffffff transparent;
        border-width: 10px;
      }
      &.below {
        overflow: initial;
        margin-top:0.4rem;
        &:after {
          top: -0.5rem;
          right: calc(50% - 0.5rem);
          transform: rotate(0);
        }
  }
}
