.main-container {
    padding: 0 6rem 0 6rem;
}

.uin-appointment-card {
    /* width: 1160px; */
    height: 628px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000014;
    margin-top: 7px;
}

.book-appointment-back-btn {
    min-width: 100px;
    height: 36px;
    border: 1px solid #909090;
    border-radius: 5px;
    opacity: 1;
    background-color: transparent;
    text-align: left;
    font: normal normal medium 16px/19px Roboto;
    letter-spacing: 0px;
    color: #909090;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.line {
    width: 100%;
    height: 0px;
    border: 1px solid #D3D3D3;
    opacity: 1;

}

.otp-verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    opacity: 1;
    margin: auto;
    margin-top: 2rem;
}

.otp-time-heading {
    color: #000000;
    font-weight: 600;
}

.otp-expire-time {
    color: #03A64A;
}

label {
    color: #000000;
    font-size: 10px;
}

.enter-opt-input {
    width: 250px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #909090;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 1rem;
    padding: 12px;
    outline: none;
}

.otp-infromation-card {
    width: 305px;
    min-height: auto;
    background: #E8FDF2 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    word-wrap: break-word;
}

.otp-infromation-text {
    text-align: center;
    color: #000000;
    opacity: 1;
    font-size: 14px;
    padding: 12px;
    margin: 5px;
}

.mobile-number {
    font-weight: 700;
}

.get-uin-btn-card {
    margin-top: 1.7rem;
}

.button {
    min-width: 108px;
    height: 36px;
    background-color: #03A64A;
    border-radius: 5px;
    opacity: 1;
    border:none;
    color: #ffffff;
}

@media screen and ((min-width:530px) and (max-width:755px)){
    .main-container{
        padding: 0 3rem 0 3rem;
    }
    .otp-verify-container{
        width: 400px;
    }
}
@media screen and (max-width:529px){
    .main-container{
        padding: 0 1rem 0 1rem;
    }
    .otp-verify-container{
        width: 95%;
    }
    .otp-infromation-card{
        width: 95%;
    }
}
