.main-div{
  height: 100%;
}
.mat-card-subtitle {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
}

.uin-service-list{
  padding-left: 15px;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0px;
}

.ara-uin-service-list{
  padding-right: 15px;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0px;
}

.item1 {
  height: 99% !important;
}

.item-card {
  height: 99%;
  width: 95%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
}

.active-icon{
  display: none;
}

.dashboard-icons{
  width: 65px;
  height: 65px;
  margin-right: 6px;
  margin-left: -5px;
}

.ara-dashboard-icons{
  width: 65px;
  height: 65px;
  margin-right: -5px;
  margin-left: 6px;
}

.display-description{
  margin: 0px;
  font-size: 14px;
}

div.item-card:hover{
  background-color: rgb(3, 166, 74);
  color: #ffffff;
}

.item-card:hover .icon{
    display: none;
}

 div.item-card:hover .active-icon{
  display: block;
}

.item-card:hover  .mat-card-title{
  color: #ffffff;
}

.item-card:hover  .mat-card-subtitle{
  color: #F4F4F4;
  font-size: 14px;
} 
 
.item-card:hover  .uin-service-list{
  color: #F4F4F4;
}  
.item-card:hover  .ara-uin-service-list{
  color: #F4F4F4;
}  

.item-card>mat-card {
  border: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: stretch;
}

.mat-card-title {
  text-align: left; 
  font-size: 22px;
  color: #464A8C;
  font-weight: bold;
}

.title{
  display: flex;
  align-items: center;
}

.mat-card{
  border-radius: 25px !important;
}

@media screen and (max-width:460px){
  .item-card{
    padding: 8px;
  }
}

