<div class="main-div" *ngIf="menuItems" dir="{{sitealignment}}">
  <mat-grid-list #grid [cols]="cols" [rowHeight]="langCode === 'tam' ? rowHeight : '185px' " gutterSize="5px">
    <mat-grid-tile colspan="1" rowspan="2">
      <div class="item1 item-card" id="dashboardCard1" (click)="onItemSelected('UIN Services')">
        <div class="title">
          <span class="icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[0].icon' />
          </span>
          <span class="active-icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[0].activeIcon' />
          </span>
          <mat-card-title class="mat-card-title" [id]="menuItems[0].displayName" *ngIf="menuItems[0]">{{
            menuItems[0].displayName}}</mat-card-title>
        </div>
        <p class="display-description">{{menuItems[0].displaydescription}}</p>
        <p class="display-description" style="margin-top: 5px;">{{menuItems[0].availableServicesDescription}}</p>
        <ul [ngClass]="langCode === 'ara' ? 'ara-uin-service-list' :  'uin-service-list'">
          <li *ngFor="let subMenu of menuItems[0].subMenus">
            {{ subMenu.displayName | translate }}</li>
        </ul>
        <div style="flex-grow: 1"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="item2 item-card" id="dashboardCard2" (click)="onItemSelected('Get Information')">
        <div class="title">
          <span class="icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[1].icon' />
          </span>
          <span class="active-icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[1].activeIcon' />
          </span>
          <mat-card-title class="mat-card-title" [id]="menuItems[1].displayName" *ngIf="menuItems[1]">{{ menuItems[1].displayName | translate }}
          </mat-card-title>
        </div>
        <p class="display-description">{{menuItems[1].availableServicesDescription}}:</p>
        <ul [ngClass]="langCode === 'ara' ? 'ara-uin-service-list' :  'uin-service-list'">
          <li *ngFor="let subMenu of menuItems[1].subMenus">{{subMenu.displayName | translate }}</li>
        </ul>
        <div style="flex-grow: 1"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="item3 item-card" id="dashboardCard3" (click)="onItemSelected('Booking an Appointment')">
        <div class="title">
          <span class="icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[2].icon' />
          </span>
          <span class="active-icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[2].activeIcon' />
          </span>
          <mat-card-title class="mat-card-title" [id]="menuItems[2].displayName" *ngIf="menuItems[2]">{{
            menuItems[2].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle id="submenus3"  *ngFor="let subMenu of menuItems[2].subMenus">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="item4 item-card" id="dashboardCard4" (click)="onItemSelected(menuItems[3].route)">
        <div class="title">
          <span class="icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[3].icon' />
          </span>
          <span class="active-icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[3].activeIcon' />
          </span>
          <mat-card-title class="mat-card-title" [id]="menuItems[3].displayName" *ngIf="menuItems[3]">{{ menuItems[3].displayName | translate }}
          </mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle id="submenus4" *ngFor="let subMenu of menuItems[3].subMenus">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="item5 item-card" id="dashboardCard5" (click)="onItemSelected(menuItems[4].route)">
        <div class="title">
          <span class="icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[4].icon' />
          </span>
          <span class="active-icon">
            <img alt="" [ngClass]="langCode === 'ara' ? 'ara-dashboard-icons' :  'dashboard-icons'"
              [src]='menuItems[4].activeIcon' />
          </span>
          <mat-card-title class="mat-card-title" [id]="menuItems[4].displayName" *ngIf="menuItems[4]">{{
            menuItems[4].displayName | translate }}
          </mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle id="submenus5" *ngFor="let subMenu of menuItems[4].subMenus">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>