ul, li{
  list-style-type:none;
  padding: 2px 0px 3px 9px;
}
.mini-card {
  width: 98%;
  height: 180px;
  border-radius: 5px;
  background: #FAF8F8 0% 0% no-repeat padding-box;
  box-shadow: none;
  border: 1px solid silver;
  background: #FAF8F8 0% 0% no-repeat padding-box;
}
.mat-card-header-text{
  display: flex;
  margin: 0px;
}
.tp-radio-group {  
  display: inline-flex;  
  flex-direction: column;  
}  
.tp-radio-button {  
  margin: 5px;  
}  
.tp-selected-value {  
  margin: 15px 0;  
}  

.mat-button-toggle-checked{
  background-color: #03a64a;
  color: white !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #03a64a !important;
}

td.label{
  font-size: 12px;
  color: #909090;
}

mat-card-subtitle{
  margin: 0 35px;
}

.intro-description {
  font: normal normal medium 16px/22px Montserrat Medium;
  letter-spacing: 0px;
  color: #505050;
}

/* .each-vid-card{
  grid-column: 3rem;
} */

@media screen and (max-width: 1600px) {
    .each-vid-card{
      grid-column-gap: 16px;
    }
}



.info-box{
  margin-top: 210px;
  min-height: 90px;
  width: 200px;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  position: absolute ;
  background-color: #ffffff;
  /* top: -20px; */
  left: 64px; 
  /* display: inline-block; */
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.info-box:before{
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #ffffff;
  position: absolute;
  margin-left: -37px;
  z-index: -1;
  top: -10px;
  left: calc(50% - 10px);
  text-align: start;
  /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); */
}


.title-card{ 
  display: flex; 
  align-items: center;
  margin-top: .3rem;
  column-gap: 15px;
  margin-bottom: 0px;
}

.empty-vid-card{
  width: 56%; 
  background-color: #F4F4F4;
}

::ng-deep .mat-tooltip {
  background-color: #ffffff !important;
  color: black !important;
  font-size: 11px !important;
  border-radius: 8px !important;
  padding: 10px !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: -2px !important;
}
.user-icon{
  color: green;
  font-size: 18px; 
  cursor: pointer; 
  margin-top: 7px;
}
.create-btn{
  min-width: 100px; 
  height: 36px; 
  display: flex; 
  align-items: center;
}
@media screen and (max-width: 550px){
  .empty-vid-card{
    width: 100%;
  }
}