ul,
li {
  list-style-type: none;
  padding: 2px 0px 3px 9px;
}

.mini-card {
  width: 90%;
  height: 170px;
  border-radius: 5px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: none;
  border: 1px solid silver;
  cursor: pointer;
}

.mini-card-yellow {
  width: 90%;
  height: 170px;
  border-radius: 5px;
  background: #FFF9DB 0% 0% no-repeat padding-box;
  box-shadow: none;
  border: 1px solid #F2CC0C;
  cursor: pointer;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.tp-radio-button {
  margin: 5px;
}

.tp-selected-value {
  margin: 15px 0;
}

.mat-button-toggle-checked {
  background-color: #03a64a;
  color: white !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #03a64a !important;
}

.mat-card-sm-image {
  width: 32px;
  height: 32px;
}

mat-card-content>p {
  width: 100%;
  text-align: center;
}

mat-card-actions {
  text-align: center;
}

mat-card-header,
.mat-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-heading {
  color: #505050;
}

.intro-description {
  font: normal normal medium 16px/22px Montserrat Medium;
  letter-spacing: 0px;
  color: #505050;
}

.read-more-btn{
  color: rgb(95, 95, 226);
  font-weight: 600;
  text-align: end;
  margin-bottom: 0px;
}


@media screen and (max-width:600px){
  .mini-card {
    width: 100%;
  }
  .mini-card-yellow {
    width: 100%;
  }
}

::ng-deep .mat-tooltip {
  background-color: #ffffff !important;
  color: black !important;
  font-size: 11px !important;
  border-radius: 8px !important;
  padding: 10px !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: -2px !important;
    /* &::after {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid #0000008c;
        border-color: transparent transparent #ffffff transparent;
        border-width: 10px;
      }
      &.below {
        overflow: initial;
        margin-top:0.4rem;
        &:after {
          top: -0.5rem;
          right: calc(50% - 0.5rem);
          transform: rotate(0);
        }
    } */
}

.info-icon{
  color: green !important;
  font-size: 18px; 
  cursor: pointer;
}

.auth-type-text{
  font-size: 14px;
  font-weight: 600;
}