ul, li{
  list-style-type:none;
  padding: 2px 0px 3px 9px;
}

table, th, td {
  border-collapse: collapse;
  text-align: start;
}

td .main-table-data{
  padding: 8px;
}

.sub-table-row{
  padding: 4px 0 ;
}


.dir-ltl{
  direction: ltr;
}

.dir-rtl{
  direction: rtl;
}

.demographic{
  cursor: pointer;
}

input.readonly{
  width: 100%;
  padding: 12px 16px;
  display: inline-block;
  border: none;
  background: #ededed 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #909090;
}
::ng-deep .mat-select-panel {
  min-width: auto !important;
}
.multiline-mat-option.mat-option {
  white-space: normal !important;
  line-height: normal !important;
  height: unset !important;
  padding-top: 0.9em !important;
  padding-bottom: 0.9em !important;
} 
.mat-input-element{
  width: 100%;
  padding: 6px 6px;
  display: inline-block;
  border: 1px solid #ccc;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #909090;
  outline: none;
}

.mini-card{
  width: 85%;
}

.mat-tab-group{
  margin-top: -20px;
}


.mat-card-header .mat-card-title {
    font-size: 13px !important;
    margin-left: -12px !important;
}

.container {
   height: 105px;
   padding: 2rem;
   border: dashed 1px #03A64A;
   background-color: #E8FDF2;
   position: relative;
   display: flex;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.container input {
   opacity: 0;
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
 .container label {
    color: #03A64A;
    width: 148px;
    min-height: 44px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 10px;
    border: 1px solid #CCCCCC;
    /*display: flex;*/
    font-size: 12px;
    font-weight: 200;
}
.container h3 {
   font-size: 16px;
   color: #03A64A;
   padding-left: 3px;
   padding-top: 7px;
   font-weight: 600;
}
.fileover {
   animation: shake 1s;
   animation-iteration-count: infinite;
}
.files-list {
   margin-top: 1.5rem;
}
 .files-list .single-file {
   display: flex;
   padding: 0.5rem;
   justify-content: space-between;
   align-items: center;
   border: dashed 1px #03A64A;
   margin-bottom: 1rem;
   display: flex;
   flex-grow: 1;
}
.files-list .single-file .preview {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .delete {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .name {
   font-weight: 500;
   color: #353f4a;
   margin: 0;
}
 .files-list .single-file .size {
   font-size: 12px;
   font-weight: 500;
   color: #a4a4a4;
   margin: 0;
   margin-bottom: 0.25rem;
}
 .files-list .single-file .info {
   width: 100%;
   word-break: break-word;
}

.preview-heading{
  color: #505050;
  font-weight: 600;
}
.files-list-title{
  font-size: 16px; 
  color: #000000; 
  margin-bottom: 5px;
}
.files-list .uploaded-single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #000000;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
}

.files-list .uploaded-single-file .preview {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.files-list .uploaded-single-file .name {
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.files-list .uploaded-single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}
.files-list .uploaded-single-file .info {
  width: 100%;
  word-break: break-word
}

.preview-agree-card{
   margin-top: 8px;
   display: flex;
   align-items: center;
   justify-content:flex-end;
}

.identity-card{
  display: flex;
  align-items: center;
}
.edit-btn{
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
}

.address-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.each-lang-value{
  margin-bottom: -4px !important;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0.01em !important;
}
::ng-deep .mat-form-field-flex {
  display: block;
  position: relative;
  flex: auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button{
  width: 40px;
  height: 40px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button svg {
  width: 30px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}


::ng-deep .mat-form-field-flex{
  align-items: center !important;
}

::ng-deep  .mat-form-field{
  width: 100% !important;
}


::ng-deep .mat-tab-label.mat-tab-label-active {
  color: #03A64A;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #03A64A;
}

.tab-headings{
  font-size:17px;
  color: #505050;
  font-weight: 500;
  margin-bottom: 5px;
}

.language-card{
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: flex-end;
}

::ng-deep .mat-form-field-infix{
  width: 80% !important;
}

.warning-message{
  margin: 2px 0 0 0; 
  color: red; 
  font-size: 11px;
}
.warning-message-for-contact{
  color: red; 
  font-size: 12px;
}

::ng-deep .mat-grid-tile .mat-figure{
  align-items: flex-start;
}

.main-contianer{
  padding:1rem 4rem 0 4rem; 
}

.breadcrumb-two{
  margin-left: 15px;
}

.show-preview-image{
  width: 50%;
  height: 550px;
}

.submit-btn-card{
  text-align: end;
  float: right;
  margin-top: none;
}

.preview-image{
  width: 50%
}

/* .each-Hierarchy-td{
  text-align: start;  
  vertical-align: text-top; 
} */

.disable-dropdown{
  background-color: #F4F4F4;
  border-radius: 5px;
  width: 100%;
}

.mat-select-panel-wrap{
  position: relative;
  top: 26px;
}

::ng-deep .mat-select-panel{
  margin-left: 1rem;
}
::ng-deep .mat-option{
  padding: 0 10px;
}

.input{
  border: none;
  color: #000000;
}

.search-input-card{
  width: 100%;
  border-radius: 4px !important;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #909090;
}

.date-input-card{
  width: 100%;
  border-radius: 4px !important;
  display: inline-flex;
  align-items: center;
  border: 1px solid #909090;
}

.preview-input-size{
  width: 60%;
}

.each-tab-group-main-table{
  width: 100%;
}
.file-Upload-card{
  width: 55%;
}
.width-of-input{
  width: 26%;
}

.number-of-attems-left-card{
  border: 1.5px solid #89730B;
  min-height: 50px;
  width: 100%;
  position: relative;
  background-color: #FFF9DB;
  padding: 6px;
  border-radius: 3px;
  color: #89730B;
  font-size: 14px;
}

.low-number-of-attems-left-card{
  border: 1.5px solid #DB4F4F;
  min-height: 50px;
  width: 100%;
  position: relative;
  background-color: #FFEAEA;
  padding: 6px;
  border-radius: 3px;
  color: #DB4F4F;
  font-size: 14px;
}

.number-of-attems-arrow-shape{
   position: absolute;
   width: 10px;
   height: 10px;
   border: 1.5px solid #89730B;
   top: 10px;
   left: -5.5px;
   transform: rotate(45deg);
   background-color: #FFF9DB;
   border-right: none;
   border-top: none;
}

.low-number-of-attems-arrow-shape{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1.5px solid #DB4F4F;
  top: 10px;
  left: -5.5px;
  transform: rotate(45deg);
  background-color: #FFEAEA;
  border-right: none;
  border-top: none;
}

.ara-number-of-attems-arrow-shape{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1.5px solid #89730B;
  top: 10px;
  transform: rotate(45deg);
  background-color: #FFF9DB;
  border-left: none;
  border-bottom: none;
  margin-left: 1.36px;
}

.low-ara-number-of-attems-arrow-shape{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1.5px solid #DB4F4F;
  top: 10px;
  transform: rotate(45deg);
  background-color: #FFEAEA;
  border-left: none;
  border-bottom: none;
  margin-left: 1.36px;
}

.number-of-attems-main-card{
  direction: ltr;
  display: block;
  margin-bottom: -25px;
  width: 60%;
}

.number-of-attems-mobile-card{
  display: none;
}

.ele-for-mob-card{
  display: none;
}

.perLang-submit-btn-card{
  float: right;
  margin-right: 2rem; 
  margin-top: none;
}
.perLang-submit-btn-card-ara{
  float: left;
  margin-right: 2rem; 
  margin-top: none;
}

.contact-update-card{
  margin: 8px; 
  display: flex;
  flex-direction: row;
  width:"100%";
}

.contact-update-sub-card{
  display: flex; 
  flex-direction: row;
  width: 98%;
  margin-bottom: 1rem;
}

.contact-update-each-sub-card{
  width: 25%; 
  margin-right: 12px;
}
.contact-update-each-btn-card{
  width: 13%; 
  margin-right: 12px;
}

.contact-lable{
  overflow-wrap: break-word;
  color: #000000 !important;
  margin: 0 2px 0 3px;
}
.contact-lable-dummy{
  height: 20px; 
}

.mat-card-subtitle{
  margin-bottom: 5px;
}

.contact-send-otp-btn{
  height: 40px;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: var(--fs);
}

::ng-deep .mat-select-placeholder {
  font-size: var(--fs) !important;
}

@media screen and ((min-width:950px) and (max-width:1300px)){
  .number-of-attems-main-card{
    width: 80%;
  }
  .contact-update-each-sub-card{
    width: 30%;
  }
}

@media screen and (min-width:989px) {
  .show-preview-image-mobile{
    display: none;
  }
}

@media screen and ((min-width:824px) and (max-width:959px)) {
  .main-contianer{
    padding: 0.5rem 3rem 0 3rem; 
  }
  .show-preview-image{
    display: none;
  }
  .preview-image{
    width: 100%
  }
  .number-of-attems-main-card{
    width: 100%;
    margin-bottom: -30px;
  }
  .width-of-input{
    width: 32%;
  }
  .file-Upload-card{
    width: 67%;
  }
  .number-of-attems-left-card{
    width: 100%;
  }
  .contact-update-each-sub-card{
    width: 35%;
  }
}

@media screen and ((min-width:550px) and (max-width:820px)) {
  .contact-update-card{
    flex-direction: column;
  }
  .contact-update-sub-card{
    display: flex; 
    flex-direction: row;
    width: 95%;
  }
  .contact-update-each-sub-card{
    width: 40%;
  }
}

@media screen and (max-width:823px) {
  .main-contianer{
    padding: 0.5rem 1rem 0 1rem; 
  }
  .mat-card{
    padding: 10px 5px 10px 5px;
  }
  .breadcrumb-two{
    margin-left: 4px;
  }
  .show-preview-image{
    display: none;
  }
  th, td {
    padding: 4px 3px 4px 2px;
  }
  .preview-image{
    width: 100%
  }
  .number-of-attems-main-card{
    display: none;
  }
  .number-of-attems-mobile-card{
    display: block;
  }
  .file-Upload-card{
    width: 100%;
  }

}

@media screen and ((min-width:550px) and (max-width:749px)) {
  .width-of-input{
    width: 36%;
  }
  .file-Upload-card{
    width: 100%;
  }
  .contact-update-card{
    margin: 8px; 
    display: flex;
    flex-direction: column;
    width:"99%";
  }
  
}
@media screen and (max-width:549px) {
  .width-of-input{
    width: 45%;
  }
  .file-Upload-card{
    width: 100%;
  }
  .number-of-attems-main-card{
    display: none;
  }
  .ele-for-lap-tab-card{
    display: none;
  }
  .ele-for-mob-card{
    display: block;
  }
  .preview-input-size{
    width: 100%;
  }
  .contact-update-card{
    flex-direction: column;
  }
  .contact-update-sub-card{
    flex-direction: column;
    width: 100%;
  }
  .contact-update-each-sub-card{
    width: 98%; 
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .contact-lable-dummy{
    display: none;
  }
  .contact-send-otp-btn{
    margin-top: 12px;
  }
}
