ul,
li {
  list-style-type: none;
  padding: 2px 0px 3px 9px;
}

.mini-card {
  width: 99%;
  height: 100%;
  border-radius: 7px;
  margin-bottom: .5rem;
  padding: .5rem;
  cursor: pointer;
}

mat-card>span img {
  margin: 0 0 8px 10px;
}

mat-card-title {
  cursor: pointer;
}

.services-description {
  font-size: 13px;
  padding-left: 12px;
  color: #909090;
  opacity: 1;
}

.main-card {
  background: #d7d1d11a;
  height: auto !important;
}

.uin-heading {
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #505050;
}

.uin-services-heading{
  margin-left: 10px;
  color: #505050;
}

.uin-service-card{
  display: flex; 
  flex-wrap: wrap; 
  column-gap: .7rem; 
  row-gap: .7rem;
}

.each-service-card{
  width: 24.5%;
}

@media screen and ((min-width:1230px) and (max-width:1900px)){
  .each-service-card{
    width: 32.5%;
  }
}

@media screen and ((min-width:900px) and (max-width:1229px)) {
  .each-service-card{
    width: 48.5%;
  }
}

@media screen and (max-width:899px){
  .each-service-card{
    width: 99%;
  }
}

